@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Rubik", sans-serif;
}

.main_header {
  position: sticky;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  gap: 60px;
  color: grey;
}
.main_header > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.main_header > ul li {
  position: relative;
}
.main_header > ul li ul {
  background-color: #bfdf94;
  top: 40px;
  width: 160px;
  position: absolute;
  display: none;
}
.main_header > ul li .shop_listbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #bfdf94;
  margin: 10px;
  gap: 30px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 550px;
  display: none;
}
.main_header > ul li .shop_listbox ul {
  position: static;
}
.main_header > ul li:hover ul {
  display: block;
}
.main_header > ul li:hover .shop_listbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav .nav_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ABD373;
  padding: 13px 100px;
  color: #fff;
  font-weight: 400;
}
#nav .nav_top p {
  text-transform: uppercase;
  font-size: 0.9rem;
}
#nav .nav_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 100px;
  border-bottom: 1px solid #ccc;
}
#nav .nav_middle .contact_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#nav .nav_middle .contact_phone div {
  background-color: #ABD373;
  width: 44px;
  height: 42px;
  padding: 10px;
  border-radius: 6px;
  font-size: 1.3rem;
  color: #fff;
  display: grid;
  place-items: center;
}
#nav .nav_middle .nav_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#nav .nav_middle .nav_info ul i {
  color: #666;
  padding: 10px;
  font-size: 1.1rem;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer;
  color: #fff;
}
#overlay.active {
  display: block;
}
#overlay .inp_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
#overlay .inp_div p {
  font-size: 1.3rem;
}
#overlay .inp_div input {
  border: none;
  outline: none;
  background: none;
  padding: 20px 90px;
  font-size: 2rem;
  border-bottom: 1px solid #fff;
}
#overlay .inp_div input::-webkit-input-placeholder {
  text-align: center;
  color: #666;
}
#overlay .inp_div input::-moz-placeholder {
  text-align: center;
  color: #666;
}
#overlay .inp_div input:-ms-input-placeholder {
  text-align: center;
  color: #666;
}
#overlay .inp_div input::-ms-input-placeholder {
  text-align: center;
  color: #666;
}
#overlay .inp_div input::placeholder {
  text-align: center;
  color: #666;
}

.container {
  padding: 90px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shipping {
  border: 2px dotted greenyellow;
  font-size: 22px;
  width: 400px;
  height: 150px;
  text-align: left;
  border-radius: 3%;
}

.payment {
  border: 2px dotted greenyellow;
  font-size: 22px;
  width: 400px;
  height: 150px;
  border-radius: 3%;
}

.services {
  border: 2px dotted greenyellow;
  font-size: 22px;
  width: 400px;
  height: 150px;
  border-radius: 3%;
}

.title_product {
  text-transform: uppercase;
  position: relative;
  color: #393939;
  font-size: 36px;
  line-height: 27px;
  padding-left: 90px;
  padding-right: 90px;
  font-weight: 700;
  text-align: center;
}

.title_product::before {
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  content: "";
  top: 50%;
  left: 549px;
}

.title_product::after {
  background-color: #abd373;
  width: 70px;
  height: 2px;
  position: absolute;
  content: "";
  top: 50%;
  right: 549px;
}

.container_product {
  padding: 90px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
}

.featured {
  border: 1px solid grey;
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 5%;
}

.bestseller {
  border: 1px solid grey;
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 5%;
}

.latest {
  height: 50px;
  width: 150px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5%;
}

.section_content_text_black {
  background-color: rgb(250, 231, 201);
  width: 100%;
  height: 700px;
}
.section_content_text_black .slide_left_and_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section_content_text_black .slide_inner_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_content_text_black .slide_inner_left {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 210px;
  font-size: 45px;
}
.section_content_text_black .button {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  top: 40px;
  background-color: #abd373;
}

.container .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
}
.container .shipping-payment-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #abd373;
}
.container .text {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */